@page
@model IndexModel
@{
    ViewData["Title"] = "SAST Example App";
}

<div class="text-center">
    <h1 class="display-4">BETA Web Solutions</h1>
    <p>A dodgy web with multiple security issues</p>
</div>
